@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;  

.notifications_box::-webkit-scrollbar {
    width: 5px !important;
    height: 6px !important;
}

.notifications_box::-webkit-scrollbar-thumb {
    background-color: rgba(90, 84, 84, 0.2);
}

/* .notifications_box::-webkit-scrollbar-track {
    background: hsla(0, 0%, 100%, .1);
} */

.tippy-box {
  border-radius: 0; /* Make the tooltip square */
  background-color: white; /* Set background color to white */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
}

/* Hide the arrow */
.tippy-arrow {
  display: none;
}

.tippy-no-width .tippy-content {
  width: auto !important;
}

.tippy-no-width .tippy-content > div {
  width: auto !important;
}

.tippy-no-width .tippy-content > div > a {
  width: auto !important;
}